.DS_Store
/CHANGELOG-CURR.txt
/CHANGELOG-PREV.txt
/README.txt
/VERSION.txt
/console-logo.png
/ctags-emacs
/ctags-vim
/docs/
/dragonruby
/dragonruby-controller.png
/dragonruby-httpd
/dragonruby-publish
/dragonruby.png
/eula.txt
/font.ttf
/open-source-licenses.txt
/logs
/tmp
/mygame/errors
/samples
/builds
/dragonruby-bind
/dragonruby-ios-simulator.app/
/dragonruby-ios.app/
/dragonruby-replay
/dragonruby-vrsim
/ffmpeg
/include/

